{% extends 'base.html.twig' %}

{% block title %}Contacts{% endblock %}

{% block body %}
<h1>Contacts</h1>
    <ul>
    {% for user in contacts %}
        <li>{{ user.lastname }} {{ user.firstname }}</li>
    {% endfor %}
    </ul>
{% endblock %}
