{% extends 'base.html.twig' %}

{% block title %}{{ contact.lastname }} {{ contact.lastname }}{% endblock %}

{% block body %}
    <h1> {{ contact.lastname }} {{ contact.lastname }}</h1>
{% endblock %}
