{% extends 'base.html.twig' %}

{% block body %}
<ul>
    <li><a href="{{ path('app_hello_manytimes', {name: 'Joe', times: 5})}}">Hello Joe 5</a></li>
    <li><a href="{{ url('app_hello_manytimes', {name: 'Bob', times: 8})}}">Hello Bob 8</a></li>
</ul>
{% endblock %}

{% block title %}

{% endblock %}