{% extends 'base.html.twig' %}

{% block body %}
<ul>
    <li><a href="{{ path('app_hello_manytimes', {name: 'Joe', times: 5})}}">Lien 1</a></li>
</ul>
{% endblock %}

{% block title %}

{% endblock %}